.pricingItem {
  width: 300px;
  height: 700px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  height: 100px;
  width: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.button {
  color: #fff;
  width: 150px;
  height: 40px;
  border: none;
  cursor: pointer;
}

.capacity,
.description,
.price {
  color: grey;
}

.price {
  font-size: 25px;
}
